#field {
  position: absolute;
  background-color: black;
}

.segment {
  position: absolute;
  background-color: aquamarine;

  // todo should be dynamic
  width: 10px;
  height: 10px;
}

.food {
  position: absolute;
  background-color: blueviolet;
}